{% extends "base.html" %}

{% block content %}

    <form action="/login" method="post">
        {{form.hidden_tag()}}

        <p>{{form.email_addy.label}}</p>
        <p>{{form.email_addy(size=32)}}</p>

        <p>{{form.password.label}}</p>
        <p>{{form.password(size=32)}}</p>

        <p>{{form.submit}}</p>

        {% with messages = get_flashed_messages(with_categories=true)%}
        {%if messages %}
        {%for category, message in messages%}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {%endfor%}
        {%endif%}
        {%endwith%}

    </form>
    {% endblock %}
