<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/register">
        <label for="username">what would be your preferred username</label>
        <input type="text" name="username">
        <label for="email">Enter your email address</label>
        <input type="text" name="email">
        <label for="password">Enter your password</label>
        <input type="password" name="password">
        
        <input type="submit">
    </form>
</body>
</html>