
<div id="notes-{{note[0]}}" 
class="block w-full p-4 border-b border-gray-100 hover:bg-gray-50 cursor-pointer transition-colors"
hx-get="/get-note/{{note[0]}}"
hx-target="#editor"
hx-swap="outerHTML"
hx-trigger="click"
{% if is_new %} hx-swap-oob="afterbegin:#sidebar" {% elif is_edit %} hx-swap-oob="true" {% endif %}
>
   <h3 class="text-sm font-semibold text-gray-900 truncate">
        {{ note[1] or "Untitled Note" }}
    </h3>

    <p class="text-xs text-gray-500 truncate mt-1">
      <span class="font-medium">{{format_note_date(note[3])}}</span>  {{ note[2][:60] or "No additional text" }}...
    </p>
</div>